<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/style.css">
    <link rel="shortcut icon" href="/app/static/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.all.min.js"></script>
    <title>{% block title %}Scheduler{% endblock %}</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/app/static/icon.png" alt="Логотип">
                <span class="site-title">Scheduler</span>
            </a>
        </div>
        <div class="nav-links">
            {% if user %}
                <div class="user-info">
                    <p style="color: white;" class="user-name">{{ user.name }} {{ user.surname }}</p>
                    <div class="notification-icon"
                         onmouseover="showDropdown('notification-list')" 
                         onmouseout="hideDropdown('notification-list')" 
                         onclick="toggleDropdown('notification-list')">
                        <img src="/app/static/notification.png" alt="Уведомления">
                        <div id="notification-list" class="notification-menu">
                            <div class="menu-header-notification">Уведомления</div>
                            {% if notifications %}
                                {% for notification in notifications %}
                                    {% if loop.index <= 3 %}
                                        <div class="notification-item">
                                            <a href="/notification/{{ notification.id }}">{{ notification.title }}</a>
                                        </div>
                                        {% if loop.index < 3 and not loop.last %}
                                            <hr class="notification-divider">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <hr class="notification-divider">
                                <div class="view-all">
                                    <a style="color: gray;" href="{{ url_for('allnotification:page') }}">Все уведомления</a>
                                </div>
                            {% else %}
                                <p class="no-notifications">Нет уведомлений</p>
                                <hr class="notification-divider">
                                <div class="view-all">
                                    <a style="color: gray;" href="{{ url_for('allnotification:page') }}">Все уведомления</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="user-photo"
                         onmouseover="showDropdown('user-dropdown')" 
                         onmouseout="hideDropdown('user-dropdown')" 
                         onclick="toggleDropdown('user-dropdown')">
                        <img src="/app/static/default.png" alt="Фото профиля">
                        <div id="user-dropdown" class="dropdown-menu">
                            <a href="{{ url_for('myprofile:page') }}">Мой профиль</a>
                            <a href="{{ url_for('settings:page') }}">Настройки</a>
                            <a href="{{ url_for('clients:page') }}">Мои клиенты</a>
                            {% if user.role == 'admin' or user.role == 'dev' %}
                                <a href="{{ url_for('allusers:page') }}">Список пользователей</a>
                                <a href="{{ url_for('createnot:page') }}">Создать уведомление</a>
                            {% endif %}
                            <a href="{{ url_for('help:page') }}">Помощь</a>
                            <a href="#" onclick="logout(event)">Выход</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="/auth/register">Регистрация</a>
                <a href="/auth/login">Вход</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        <h1>Добро пожаловать на наш сайт!</h1>
        <p>Здесь вы найдете много полезной информации.</p>
        {% endblock %}
    </main>
    <footer>
        <a href="https://t.me/xaslx" class="social-link" target="_blank">
            <img src="/app/static/tg.png" alt="Социальная сеть">
            <span>Telegram</span>
        </a>
        <p class="copy">&copy; 2024</p>
    </footer>
    {% block scripts %}
    <script src="/app/static/js/main.js"></script>
    <style>
        @media only screen and (max-width: 768px) {
            .user-info .user-name {
                display: none;
            }
        }

    </style>
    {% endblock %}
</body>

</html>
