<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/style.css">
    <link rel="shortcut icon" href="/app/static/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.all.min.js"></script>
    <title>{% block title %}Scheduler{% endblock %}</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/app/static/icon.png" alt="Логотип">
                <span class="site-title">Scheduler</span>
            </a>
        </div>
        <div class="nav-links">
            {% if user %}
                <div class="user-info">
                    <p style="color: white;" class="user-name">{{ user.name }} {{ user.surname }}</p>
                    <div class="notification-icon"
                         onmouseover="showDropdown('notification-list')" 
                         onmouseout="hideDropdown('notification-list')" 
                         onclick="toggleDropdown('notification-list')">
                        <img src="/app/static/notification.png" alt="Уведомления">
                        <div id="notification-list" class="notification-menu">
                            <div class="menu-header-notification">Уведомления</div>
                            {% if notifications %}
                                {% for notification in notifications %}
                                    {% if loop.index <= 3 %}
                                        <div class="notification-item">
                                            <a href="/notification/{{ notification.id }}">{{ notification.title }}</a>
                                        </div>
                                        {% if loop.index < 3 and not loop.last %}
                                            <hr class="notification-divider">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <hr class="notification-divider">
                                <div class="view-all">
                                    <a style="color: gray;" href="{{ url_for('allnotification:page') }}">Все уведомления</a>
                                </div>
                            {% else %}
                                <p class="no-notifications">Нет уведомлений</p>
                                <hr class="notification-divider">
                                <div class="view-all">
                                    <a style="color: gray;" href="{{ url_for('allnotification:page') }}">Все уведомления</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="user-photo"
                         onmouseover="showDropdown('user-dropdown')" 
                         onmouseout="hideDropdown('user-dropdown')" 
                         onclick="toggleDropdown('user-dropdown')">
                        <img src="/app/static/default.png" alt="Фото профиля">
                        <div id="user-dropdown" class="dropdown-menu">
                            <a href="{{ url_for('myprofile:page') }}">Мой профиль</a>
                            <a href="{{ url_for('settings:page') }}">Настройки</a>
                            <a href="{{ url_for('clients:page') }}">Мои клиенты</a>
                            {% if user.role == 'admin' or user.role == 'dev' %}
                                <a href="{{ url_for('allusers:page') }}">Список пользователей</a>
                                <a href="{{ url_for('createnot:page') }}">Создать уведомление</a>
                            {% endif %}
                            <a href="#" onclick="logout(event)">Выход</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="/auth/register">Регистрация</a>
                <a href="/auth/login">Вход</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        <h1>Добро пожаловать на наш сайт!</h1>
        <p>Здесь вы найдете много полезной информации.</p>
        {% endblock %}
    </main>
    <footer>
        <a href="https://t.me/xaslx" class="social-link" target="_blank">
            <img src="/app/static/tg.png" alt="Социальная сеть">
            <span>Telegram</span>
        </a>
        <p class="copy">&copy; 2024</p>
    </footer>
    {% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const notificationItems = document.querySelectorAll('.notification-item');
            const userPhoto = document.querySelector('.user-photo');
            const notificationIcon = document.querySelector('.notification-icon');
            const dropdowns = ['notification-list', 'user-dropdown'];
    
            notificationItems.forEach(item => {
                item.addEventListener('click', function(event) {
                    event.stopPropagation(); 
                    const notificationUrl = item.querySelector('a').getAttribute('href');
                    window.location.href = notificationUrl;
                });
            });
    
            function handleUserPhotoClick(event) {
                event.stopPropagation();
                toggleDropdown('user-dropdown');
            }
    
            function handleNotificationIconClick(event) {
                event.stopPropagation();
                toggleDropdown('notification-list');
            }
    
            userPhoto.addEventListener('click', handleUserPhotoClick);
            notificationIcon.addEventListener('click', handleNotificationIconClick);
    
            if (window.innerWidth > 600) {
                userPhoto.addEventListener('mouseover', function() {
                    showDropdown('user-dropdown');
                });
                userPhoto.addEventListener('mouseout', function() {
                    hideDropdown('user-dropdown');
                });
    
                notificationIcon.addEventListener('mouseover', function() {
                    showDropdown('notification-list');
                });
                notificationIcon.addEventListener('mouseout', function() {
                    hideDropdown('notification-list');
                });
            }
    
            let activeDropdown = null;
    
            function showDropdown(dropdownId) {
                hideDropdowns();
                const dropdown = document.getElementById(dropdownId);
                dropdown.classList.add('active');
                activeDropdown = dropdownId;
            }
    
            function hideDropdown(dropdownId) {
                const dropdown = document.getElementById(dropdownId);
                if (dropdown) {
                    dropdown.classList.remove('active');
                    if (activeDropdown === dropdownId) {
                        activeDropdown = null;
                    }
                }
            }
    
            function hideDropdowns() {
                dropdowns.forEach(id => hideDropdown(id));
            }
    
            function toggleDropdown(dropdownId) {
                if (activeDropdown === dropdownId) {
                    hideDropdown(dropdownId);
                } else {
                    showDropdown(dropdownId);
                }
            }
    
            document.addEventListener('click', function(event) {
                if (!event.target.closest('.notification-icon') && activeDropdown === 'notification-list') {
                    hideDropdown('notification-list');
                }
                if (!event.target.closest('.user-photo') && activeDropdown === 'user-dropdown') {
                    hideDropdown('user-dropdown');
                }
            });
        });
    </script>
    
    
    
    <style>
        @media (max-width: 600px) {
            .user-name {
                display: none;
            }
        }
    
        .notification-menu, .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #333;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 10px;
            z-index: 1000;
            opacity: 0;
            transform: scale(0.95);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
    
        .notification-menu.active, .dropdown-menu.active {
            display: block;
            opacity: 1;
            transform: scale(1);
            transition-delay: 0.5s;
        }
    </style>
    
    
    
    {% endblock %}
</body>

</html>
