{% extends "base.html" %}

{% block title %}Запись{% endblock %}

{% block content %}
<div class="container-booking">
    <div class="left-container">
        {% if user_link.is_active %}
            {% if user_link.enabled %}
                <div class="calendar-container">
                    <span id="user-id" style="display: none;">{{ user_link.id }}</span>
                    <p style="color: lime;">Выберите дату:</p>
                    <div class="calendar"></div>
                </div>
            {% else %}
                <div class="user-info2">
                    <p style="color: red;">Данный пользователь выключил возможность записи в настройках.</p>
                </div>
            {% endif %}
        {% else %}
            <div class="blocked-user-message">
                <span style="color: red;">Пользователь {{ user_link.name }} {{ user_link.surname }} заблокирован и не может принимать записи.</span>
            </div>
        {% endif %}
    </div>
    <div class="right-container">
        <div class="user-info2">
            <p style="color: white; text-align: left;">Запись к: {{ user_link.name }} {{ user_link.surname }}</p>
            <p style="color: rgb(215, 203, 203); text-align: left;">Email: {{ user_link.email }}</p>
            <p style="color: rgb(215, 203, 203); text-align: left;">Telegram: {{ user_link.telegram_link if user_link.telegram_link else "Не указан" }}</p>
        </div>
        <div class="user-info2">
            <p style="color: white;">Описание</p>
            <hr class="full-width-line" style="width: 100%; margin-bottom: 5px;">
            {% if user_link.description %}
                <p style="color: white;">{{ user_link.description }}</p>
            {% else %}
                <p style="color: gray;">Пользователь еще не добавил описание</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/app/static/js/booking.js"></script>
    <style>
        @media (max-width: 768px) {
        .container-booking {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .left-container {
            order: 2;
            width: 100%;
            max-width: 400px;
            margin: -10px 0;
        }

        .right-container {
            order: 1;
            width: 95%;
            max-width: 400px;
            margin: 20px 0;
            margin-right: 20px;
        }
    }

    </style>
{% endblock %}
