{% extends "base.html" %}

{% block title %}Рассылка{% endblock %}

{% block content %}
    <div class="registration-form">
        <h2>Рассылка уведомления</h2>
        <form id="registration-form">
            <div class="form-group">
                <label style="color: green;" for="message">Сообщение (максимум 500 символов)</label>
                <textarea style="resize: none;" id="message" placeholder="Это сообщение получат по Email все зарегистрированные пользователи." name="message" rows="6" maxlength="500" required></textarea>
                <div id="message-error" class="error-message"></div>
            </div>
            <button type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/app/static/js/create_notif_email.js"></script>
{% endblock %}

<style>
    .registration-form {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: #f3f4f6;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .registration-form h2 {
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 150px;
        font-size: 14px;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #0056b3;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }

    .swal2-custom {
        width: 80%;
        max-width: 300px;
        padding: 10px;
    }

    .swal2-custom-popup {
        padding: 15px;
    }

    .swal2-custom-title {
        font-size: 18px;
    }

    .swal2-custom-content {
        font-size: 14px;
    }
    @media only screen and (max-width: 600px) {
        .registration-form {
            width: 90%;
        }
    }
</style>
