{% extends "base.html" %}

{% block title %}Рассылка{% endblock %}

{% block content %}
    <div class="registration-form">
        <h2>Рассылка уведомления</h2>
        <form id="notification-form">
            <div class="form-group">
                <label style="color: green;" for="title">Заголовок (от 5 до 60 символов)</label>
                <input type="text" id="title" name="title" placeholder="Введите заголовок уведомления" minlength="5" maxlength="60" required>
                <div id="title-error" class="error-message"></div>
            </div>
            <div class="form-group">
                <label style="color: green;" for="description">Описание (от 15 до 500 символов)</label>
                <textarea style="resize: none;" id="description" name="description" placeholder="Это сообщение получат на сайте все зарегистрированные пользователи." rows="6" minlength="15" maxlength="500" required></textarea>
                <div id="description-error" class="error-message"></div>
            </div>
            <button type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/app/static/js/create_notif_web.js"></script>
    <style>
        @media only screen and (max-width: 600px) {
            .registration-form {
                width: 80%;
            }
        }
    </style>
{% endblock %}
