{% extends "base.html" %}

{% block title %}Отправка уведомлений{% endblock %}

{% block content %}
    <div class="container">
        <h1>Отправка уведомлений</h1>
        <div class="notification-buttons">
            <a href="{{ url_for('create_notification:page') }}" style="cursor: pointer;" id="email-notification-btn" class="edit-profile-button">Отправить уведомление на Email</a>
            <a href="{{ url_for('create_notification_web:page') }}" style="cursor: pointer;" id="site-notification-btn" class="edit-profile-button">Отправить уведомление на сайт</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
