{% extends "base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}

    <div class="registration-form">
        <h2>Изменение пароля</h2>
        <input type="hidden" id="user-id" value="{{ user.id }}">
        <input type="hidden" id="user-email" value="{{ user.email }}">
        <form id="registration-form">
            <div class="form-group">
                <div class="password-container">
                    <input placeholder="Новый пароль" type="password" id="new-password" name="new_password" required>
                    <img class="eye" src="/app/static/eye.png" alt="Показать пароль" id="toggle-password">
                </div>
                <p id="password-validation-error" class="error-message">Пароль должен содержать от 6 до 30 символов и состоять из букв, цифр, дефисов или подчеркиваний!</p>
            </div>
            <div class="form-group">
                <div class="password-container">
                    <input placeholder="Повторите пароль" type="password" id="confirm-password" name="confirm_password" required>
                    <img class="eye" src="/app/static/eye.png" alt="Показать пароль" id="toggle-password-confirm">
                </div>
                <p id="password-error" class="error-message">Пароли не совпадают!</p>
            </div>
            <button type="submit" id="change-password-btn">Изменить</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
    .error-message {
        color: red;
        font-weight: bold;
        display: none;
    }

    .password-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .eye {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .custom-swal {
        font-size: 16px;
        width: 80%;
        max-width: 300px;
    }

    @media (max-width: 768px) {
        .custom-swal {
            width: 90%;
            max-width: none;
        }
    }
    @media (max-width: 768px) {
        .registration-form {
            width: 90%;
            padding: 15px;
        }
    }
    </style>
    <script src="/app/static/js/edit_password.js"></script>
{% endblock %}
