{% extends "base.html" %}

{% block title %}Редактирование{% endblock %}

{% block content %}
    <div class="registration-form">
        <h2>Редактирование профиля</h2>
        <form id="registration-form">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required placeholder="Иван" value="{{ user.name }}">
            </div>
            <div class="form-group">
                <label for="surname">Фамилия:</label>
                <input type="text" id="surname" name="surname" required placeholder="Иванов" value="{{ user.surname }}">
            </div>
            <div class="form-group">
                <label for="telegram_link">Телеграм:</label>
                <input type="text" id="telegram_link" name="telegram_link" required placeholder="example" value="{{ user.telegram_link }}">
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea id="description" name="description" maxlength="500" placeholder="Максимум 500 символов">{{ user.description }}</textarea>
            </div>
            <button type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('registration-form').addEventListener('submit', async function(event) {
                event.preventDefault();

                var formData = {
                    'name': document.getElementById('name').value.trim(),
                    'surname': document.getElementById('surname').value.trim(),
                    'telegram_link': document.getElementById('telegram_link').value.trim(),
                    'description': document.getElementById('description').value.trim(),
                };

                // Удаляем пустые значения из formData
                for (var key in formData) {
                    if (formData[key] === "") {
                        delete formData[key];
                    }
                }

                try {
                    const response = await fetch('/user/edit_profile', {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(formData),
                    });

                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }

                    const data = await response.json();
                    console.log('Success:', data);
                    
                    // Редирект на страницу профиля при успешном обновлении
                    window.location.href = "{{ url_for('myprofile:page') }}";
                } catch (error) {
                    console.error('Error:', error);
                }
            });
        });
    </script>
{% endblock %}
