{% extends "base.html" %}

{% block title %}Редактирование{% endblock %}

{% block content %}
    <div class="registration-form">
        <h2>Редактирование профиля</h2>
        <form id="registration-form">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required placeholder="Иван" value="{{ user.name }}">
                <div id="name-error" class="error-message"></div>
            </div>
            <div class="form-group">
                <label for="surname">Фамилия:</label>
                <input type="text" id="surname" name="surname" required placeholder="Иванов" value="{{ user.surname }}">
                <div id="surname-error" class="error-message"></div>
            </div>
            <div class="form-group">
                <label for="telegram_link">Телеграм:</label>
                <input type="text" id="telegram_link" name="telegram_link" placeholder="example" value="{{ user.telegram_link }}">
                <div id="telegram-link-error" class="error-message"></div>
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea id="description" name="description" maxlength="500" placeholder="Максимум 500 символов">{{ user.description }}</textarea>
            </div>
            <button type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <style>
        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 5px;
            opacity: 1;
            transition: opacity 0.5s ease-out;
        }

        .error-message.fade-out {
            opacity: 0;
        }
        @media (max-width: 768px) {
            .registration-form {
                width: 90%;
                padding: 15px;
            }
        }
    </style>
    <script>const profilePageUrl = "{{ url_for('myprofile:page') }}";</script>
    <script src="/app/static/js/edit_profile.js"></script>
{% endblock %}
