{% extends "base.html" %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh; text-align: center;">
    <p style="font-size: 2em; margin: 0;">Ссылка для сброса пароля устарела</p>
    <a href="{{ url_for('main:page') }}" style="margin-top: 20px; padding: 10px 20px; font-size: 1.5em; color: white; background-color: #007bff; text-decoration: none; border-radius: 5px;">Вернуться на главную страницу</a>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}