{% extends "base.html" %}

{% block title %}Восстановление{% endblock %}

{% block content %}
    <div class="registration-form">
        <h2>Восстановление пароля</h2>
        <form id="reset-password-form">
            <div class="form-group" id="email-group">
                <label for="email">Введите ваш Email:</label>
                <input type="email" id="email" name="email" required>
                <div id="email-error" class="error-message" style="color: red;"></div>
            </div>
            <button type="submit" id="submit-button">Восстановить</button>
        </form>
        <div id="success-message" style="display: none; color: green;">
            Ссылка для сброса пароля отправлена на ваш email.
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('reset-password-form');
            const emailInput = document.getElementById('email');
            const emailError = document.getElementById('email-error');
            const successMessage = document.getElementById('success-message');

            form.addEventListener('submit', function(event) {
                event.preventDefault();
                emailError.textContent = ''; // очистка сообщения об ошибке

                const email = emailInput.value;

                fetch('/user/forgot_password/reset', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email })
                })
                .then(response => {
                    if (!response.ok) {
                        throw Error(response.statusText);
                    }
                    form.style.display = 'none';
                    successMessage.style.display = 'block';
                })
                .catch(error => {
                    if (error.message.includes('422')) {
                        emailError.textContent = 'Email не найден.';
                    } else {
                        emailError.textContent = 'Email не найден.';
                    }
                    setTimeout(function() {
                        emailError.textContent = '';
                    }, 3000);
                });
            });
        });
    </script>
{% endblock %}
