{% extends "base.html" %}

{% block title %}Восстановление{% endblock %}

{% block content %}
    <div class="registration-form">
        <h2>Восстановление пароля</h2>
        <form id="reset-password-form">
            <div class="form-group" id="email-group">
                <label for="email">Введите ваш Email:</label>
                <input type="email" id="email" name="email" required>
                <div id="email-error" class="error-message" style="color: red;"></div>
            </div>
            <button type="submit" id="submit-button">Восстановить</button>
        </form>
        <div id="success-message" style="display: none; color: green;">
            Ссылка для сброса пароля отправлена на ваш email.
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/app/static/js/forgot_password.js"></script>
{% endblock %}
