{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="registration-form">
        <h2>Вход</h2>
        <form id="registration-form">
            <div class="form-group">
                <input placeholder="Email" type="email" id="email" name="email" required>
                <div id="email-error" class="error-message"></div>
            </div>
            <div class="form-group password-group">
                <div class="password-container">
                    <input placeholder="Пароль" type="password" id="password" name="password" required>
                    <img class="eye" src="/app/static/eye.png" alt="Показать пароль" id="toggle-password">
                </div>
                <div id="password-error" class="error-message"></div>
                <div style="margin-top: 15px;" class="password-reset">
                    <a  href="{{ url_for('reset:page') }}">Восстановить пароль</a>
                </div>
            </div>
            <div id="login-error" class="error-message" style="color: red;"></div>
            <button type="submit">Войти</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <style>
        .password-container {
        position: relative;
        display: inline-block;
        width: 100%;
        }

        .eye {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        @media (max-width: 768px) {
            .registration-form {
                width: 90%;
                padding: 15px;
            }
        }
    </style>
    <script src="/app/static/js/login.js"></script>
{% endblock %}
