{% extends "base.html" %}

{% block title %}Ваш профиль{% endblock %}

{% block content %}
<div class="profile-container">
    {% if user %}
        <div class="profile-card">
            <div class="profile-header">
                <img src="/app/static/default100.png" alt="Фото профиля" class="profile-photo">
                <div class="profile-header-details">
                    <h1>
                        {% if user.is_active %}
                            {{ user.name }} {{ user.surname }}
                        {% else %}
                            <span style="text-decoration: line-through;">{{ user.name }} {{ user.surname }}</span>
                        {% endif %}
                    </h1>
                    {% if not user.is_active %}
                        <span style="color: red;" class="banned-status">Ваш аккаунт заблокирован</span>
                    {% endif %}
                    <p><strong>ID:</strong> {{ user.id }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Дата регистрации:</strong> {{ user.registered_at.strftime('%d %B %Y %H:%M') }}</p>
                    <p><strong>Ваша роль:</strong> 
                        <span class="{% if user.role == 'user' %}role-user{% elif user.role == 'admin' %}role-admin{% elif user.role == 'dev' %}role-dev{% endif %}">
                            {{ user.role }}
                        </span>
                    </p>
                    <p><strong>Ссылка:</strong> 
                        <a id="personalLink" target="_blank" class="profile-link" href="{{ url_for('personal_link:page', personal_link=user.personal_link) }}" style="color: #007bff; text-decoration: none; margin-left: 10px;">{{ user.personal_link }}</a>
                        <button class="copy-button" onclick="copyToClipboard('#personalLink')">Копировать</button>
                    </p>
                    <p><strong>Телеграм:</strong>
                        {% if user.telegram_link %}
                            <span id="telegramLink" style="color: #007bff;">{{ user.telegram_link }}</span>
                            <button class="copy-button" onclick="copyToClipboard('#telegramLink')">Копировать</button>
                        {% else %}
                            <span style="color: #007bff; text-decoration: none; margin-left: 10px;">Не указан</span>
                        {% endif %}
                    </p>
                    
                    {% if user.is_active %}
                        <a href="{{ url_for('edit:page') }}" style="width: 60%;" class="edit-profile-button">Редактировать профиль</a>
                    {% endif %}
                    <a href="{{ url_for('edit_password:page') }}" style="width: 60%;" class="edit-profile-button">Изменить пароль</a>
                    <input type="hidden" id="userIdInput" name="user_id" value="{{ user.id }}">
                    <button style="width: 68%;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" class="delete_profile">Удалить профиль</button>

                </div>
            </div>
            <div class="profile-description">
                <h2>Описание пользователя</h2>
                <p for="description" style="color: white;">(его будут видеть клиенты которые захотят записаться к вам)</p>
                <hr class="custom-hr">
                {% if user.description %}
                    <p>{{ user.description }}</p>
                {% else %}
                    <p style="color: red;">Вы пока еще не добавили описание</p>
                {% endif %}
            </div>
            
    {% else %}
        <p>Для просмотра профиля необходимо <a href="/auth/login">Войти</a> или <a href="/auth/register">Зарегистрироваться</a>.</p>
    {% endif %}
</div>

<div id="confirmDeleteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Вы уверены, что хотите удалить свой профиль?</p>
        <div class="modal-buttons">
            <button id="cancelDelete">Отмена</button>
            <button id="confirmDelete">Удалить</button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/app/static/js/my_profile.js"></script>
<style>
    @media only screen and (max-width: 600px) {
        .profile-container p, 
        .profile-container h1, 
        .profile-container h2 {
            font-size: 12px;
        }

    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
    }

    .modal-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    button {
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    button#confirmDelete {
        background-color: #f44336;
        color: white;
    }

    button#confirmDelete:hover {
        background-color: rgb(204, 25, 25);
    }

    button#cancelDelete {
        background-color: #ddd;
        color: black;
    }

    button#cancelDelete:hover {
        background-color: #c6c2c2;
    }

    .copy-button {
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        border: 1px solid #007bff;
        background-color: #007bff;
        color: white;
        border-radius: 3px;
        margin-left: 5px;
    }

    .copy-button:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    @media only screen and (max-width: 600px) {
        .modal-content {
            width: 50%;
        }
        .copy-button {
            padding: 4px 8px;
            font-size: 10px;
        }
        button {
            padding: 8px 16px;
            font-size: 10px;
        }
        .edit-profile-button {
            padding: 10px 0px;
            max-width: 150px;
            font-size: 10px;
        }
        .delete_profile {
            max-width: 150px;
            font-size: 10px;
        }
    }
</style>
{% endblock %}
