{% extends "base.html" %}

{% block title %}Ваш профиль{% endblock %}

{% block content %}
<div class="profile-container">
    {% if user %}
        <div class="profile-card">
            <div class="profile-header">
                <img src="/app/static/default100.png" alt="Фото профиля" class="profile-photo">
                <div class="profile-header-details">
                    <h1 class="{% if not user.is_active %}inactive-user{% endif %}">
                        {{ user.name }} {{ user.surname }}
                    </h1>
                    {% if not user.is_active %}
                        <span style="color: red;" class="banned-status">Ваш аккаунт заблокирован</span>
                    {% endif %}
                    <p><strong>ID:</strong> {{ user.id }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Дата регистрации:</strong> {{ user.registered_at.strftime('%d %B %Y %H:%M') }}</p>
                    <p><strong>Ваша роль:</strong> 
                        <span class="{% if user.role == 'user' %}role-user{% elif user.role == 'admin' %}role-admin{% elif user.role == 'dev' %}role-dev{% endif %}">
                            {{ user.role }}
                        </span>
                    </p>
                    <p><strong>Ваша ссылка:</strong> 
                        <a class="profile-link" href="{{ url_for('personal_link:page', personal_link=user.personal_link) }}" style="color: #007bff; text-decoration: none; margin-left: 10px;">{{ user.personal_link }}</a>
                    </p>
                    <p><strong>Ваш телеграм:</strong> 
                        <a class="profile-link" href="https://t.me/{{ user.telegram_link }}" target="_blank" style="color: #007bff; text-decoration: none; margin-left: 10px;">{{ user.telegram_link }}</a>
                    </p>
                    {% if user.is_active %}
                        <a href="{{ url_for('edit:page') }}" style="width: 60%;" class="edit-profile-button">Редактировать профиль</a>
                    {% endif %}
                    <a href="{{ url_for('edit_password:page') }}" style="width: 60%;" class="edit-profile-button">Изменить пароль</a>
                    <input type="hidden" id="userIdInput" name="user_id" value="{{ user.id }}">
                    <button style="width: 68%;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" style="width: 60%;" class="delete_profile">Удалить профиль</button>

                </div>
            </div>
            <div class="profile-description">
                <h2>Описание пользователя</h2>
                <p for="description" style="color: white;">(его будут видеть клиенты которые захотят записаться к вам)</p>
                <hr class="custom-hr">
                {% if user.description %}
                    <p>{{ user.description }}</p>
                {% else %}
                    <p style="color: red;">Вы пока еще не добавили описание</p>
                {% endif %}
            </div>
            
    {% else %}
        <p>Для просмотра профиля необходимо <a href="/auth/login">Войти</a> или <a href="/auth/register">Зарегистрироваться</a>.</p>
    {% endif %}
</div>

<div id="confirmDeleteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Вы уверены, что хотите удалить свой профиль?</p>
        <div class="modal-buttons">
            <button id="cancelDelete">Отмена</button>
            <button id="confirmDelete">Удалить</button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const editButton = document.querySelector('.edit-description-button');
        const descriptionForm = document.querySelector('.description-form');
        const confirmDeleteModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));

        editButton.addEventListener('click', function(e) {
            e.preventDefault();
            editButton.style.display = 'none';
            descriptionForm.style.display = 'block';
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButton = document.querySelector('.delete_profile');
        const modal = document.getElementById('confirmDeleteModal');
        const closeBtn = document.querySelector('.close');
        const cancelBtn = document.getElementById('cancelDelete');
        const confirmBtn = document.getElementById('confirmDelete');

        deleteButton.addEventListener('click', function() {
            modal.style.display = 'block';
        });

        closeBtn.addEventListener('click', function() {
            modal.style.display = 'none';
        });

        cancelBtn.addEventListener('click', function() {
            modal.style.display = 'none';
        });

        confirmBtn.addEventListener('click', async function() {
        const userId = document.getElementById('userIdInput').value;
        try {
            const response = await fetch(`/user/delete_user/${userId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
               
                }
            });
            if (!response.ok) {
                throw new Error('Ошибка удаления пользователя');
            }
           
            location.reload();
        } catch (error) {
            console.error('Ошибка при удалении пользователя:', error);
      
        } finally {
            modal.style.display = 'none';
        }
    });

        window.addEventListener('click', function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });
    });



</script>
<style>
    @media only screen and (max-width: 600px) {
        .profile-container p, 
        .profile-container h1, 
        .profile-container h2 {
            font-size: 12px;
        }

    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    @media only screen and (max-width: 600px) {
        .modal-content {
            left: 35%;
            top: 35%;
            width: 40%;
            max-width: 60%;
        }
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    button {
        padding: 10px 20px;
        cursor: pointer;
    }
    button:hover {
        background-color: rgb(204, 25, 25);
    }

    button#confirmDelete {
        background-color: #f44336;
        color: white;
        border: none;
    }
    button#confirmDelete:hover {
        background-color: rgb(204, 25, 25);
    }

    button#cancelDelete {
        background-color: #ddd;
        color: black;
        border: none;
    }
    button#cancelDelete:hover {
        background-color: #c6c2c2;
    }


</style>
{% endblock %}