{% extends "base.html" %}

{% block title %}Ваш профиль{% endblock %}

{% block content %}
<div class="profile-container">
    {% if user %}
        <div class="profile-card">
            {% if not user.telegram_id %}
                <span style="color: red; font-size: 16px; padding: 10px;">Если хотите получать уведомления в Telegram, то привяжите его.</span>
            {% endif %}
            <div class="profile-header">
                <img src="/app/static/default100.png" alt="Фото профиля" class="profile-photo">
                <div class="profile-header-details">
                    <h1>
                        {% if user.is_active %}
                            {{ user.name }} {{ user.surname }}
                        {% else %}
                            <span style="text-decoration: line-through;">{{ user.name }} {{ user.surname }}</span>
                        {% endif %}
                    </h1>
                    {% if not user.is_active %}
                        <span style="color: red;" class="banned-status">Ваш аккаунт заблокирован</span>
                    {% endif %}
                    <p><strong>ID:</strong> {{ user.id }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Дата регистрации:</strong> {{ user.registered_at.strftime('%d %B %Y %H:%M') }}</p>
                    <p><strong>Ваша роль:</strong> 
                        <span class="{% if user.role == 'user' %}role-user{% elif user.role == 'admin' %}role-admin{% elif user.role == 'dev' %}role-dev{% endif %}">
                            {{ user.role }}
                        </span>
                    </p>
                    <p><strong>Ссылка:</strong> 
                        <a id="personalLink" class="profile-link" href="{{ url_for('personal_link:page', personal_link=user.personal_link) }}" style="color: #007bff; text-decoration: none; margin-left: 10px;">{{ user.personal_link }}</a>
                        <button class="copy-button" onclick="copyToClipboard('#personalLink')">Копировать</button>
                    </p>
                    <p><strong>Телеграм:</strong>
                            {% if not user.telegram_id %}
                                <span style="color: #007bff; text-decoration: none; margin-left: 10px;">Не привязан</span>
                                <button class="add-tg-button" data-bs-toggle="modal" data-bs-target="#bindTelegramModal-tg">Привязать</button>
                            {% else %}
                                <span style="color: #007bff; text-decoration: none; margin-left: 10px;">{{ user.telegram_id }}</span>
                                <button class="add-tg-button red_color" data-bs-toggle="modal" data-bs-target="#confirmUnlinkModal">Отвязать</button>
                            {% endif %}
                    </p>
                    <div id="confirmUnlinkModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p style="color: black;">Вы уверены, что хотите отвязать Telegram?</p>
                            <p style="color: black;">Тогда вы перестаните получать уведомлния о новых клиентах на Telegram</p>
                            <div class="modal-buttons">
                                <button style="color: white; background-color: green;" id="cancelUnlink">Отменить</button>
                                <button style="color: white; background-color: red;" id="confirmUnlink">Отвязать</button>
                            </div>
                        </div>
                    </div>
                    
                    
                    {% if user.is_active %}
                        <a href="{{ url_for('edit:page') }}" style="width: 60%;" class="edit-profile-button">Редактировать профиль</a>
                    {% endif %}
                    <a href="{{ url_for('edit_password:page') }}" style="width: 60%;" class="edit-profile-button">Изменить пароль</a>
                    <input type="hidden" id="userIdInput" name="user_id" value="{{ user.id }}">
                    <button style="width: 68%;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" class="delete_profile">Удалить профиль</button>

                </div>
            </div>
            <div class="profile-description">
                <h2>Описание пользователя</h2>
                <p for="description" style="color: white;">(его будут видеть клиенты которые захотят записаться к вам)</p>
                <hr class="custom-hr">
                {% if user.description %}
                    <p>{{ user.description }}</p>
                {% else %}
                    <p style="color: red;">Вы пока еще не добавили описание</p>
                {% endif %}
            </div>
            
    {% else %}
        <p>Для просмотра профиля необходимо <a href="/auth/login">Войти</a> или <a href="/auth/register">Зарегистрироваться</a>.</p>
    {% endif %}
</div>

<div id="confirmDeleteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Вы уверены, что хотите удалить свой профиль?</p>
        <div class="modal-buttons">
            <button id="cancelDelete">Отмена</button>
            <button id="confirmDelete">Удалить</button>
        </div>
    </div>
</div>

<div id="bindTelegramModal-tg" class="modal-tg">
    <div class="modal-content-tg">
        <span class="close-tg">&times;</span>
        <p style="color: black;">Чтобы привязать Telegram к сайту, напишите боту и отправьте команду <strong>/connect</strong></p>
        <a class="btn_bot" target="_blank" href="https://t.me/scheduler_help_bot" id="closeBindModal-tg" style="color: white; background-color: #007bff;">Написать боту</a>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/app/static/js/my_profile.js" defer></script>
<style>
    @media only screen and (max-width: 600px) {
        .profile-container p, 
        .profile-container h1, 
        .profile-container h2 {
            font-size: 12px;
        }

    }
    .modal-tg {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content-tg {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
    }

    .close-tg {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .btn_bot {
        display: inline-block;
        padding: 10px;
        font-size: 12px;
        color: white;
        background-color: #007bff;
        text-decoration: none;
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, font-size 0.3s;
    }
    .close-tg:hover,
    .close-tg:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
    }

    .modal-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    button {
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    button#confirmDelete {
        background-color: #f44336;
        color: white;
    }

    button#confirmDelete:hover {
        background-color: rgb(204, 25, 25);
    }

    button#cancelDelete {
        background-color: #ddd;
        color: black;
    }

    button#cancelDelete:hover {
        background-color: #c6c2c2;
    }

    .copy-button {
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        border: 1px solid #007bff;
        background-color: #007bff;
        color: white;
        border-radius: 3px;
        margin-left: 5px;
    }
    .add-tg-button {
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        border: 1px solid rgb(7, 143, 7);
        background-color: rgb(7, 143, 7);
        color: white;
        border-radius: 3px;
        margin-left: 5px;
    }
    .add-tg-button:hover {
        background-color: green;
        border-color: green;
    }
    .add-tg-button.red_color {
        background-color: red;
        border-color: red;
    }
    .add-tg-button.red_color:hover {
        background-color: rgb(167, 9, 9);
        border-color: rgb(167, 9, 9);
    }
    .copy-button:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .edit-profile-button{
        font-size: 16px;
    }

    @media only screen and (max-width: 600px) {
        .modal-content {
            width: 50%;
        }
        .copy-button {
            padding: 4px 8px;
            font-size: 10px;
        }
        button {
            padding: 8px 16px;
            font-size: 10px;
        }
        .edit-profile-button {
            padding: 10px 0px;
            max-width: 150px;
            font-size: 10px;
        }
        .delete_profile {
            max-width: 150px;
            font-size: 10px;
        }
        .add-tg-button{
            font-size: 12px;
        }
    }
</style>
{% endblock %}
