{% extends "base.html" %}

{% block title %}Уведомление{% endblock %}

{% block content %}
    <div class="container-by-id">
        <div class="notification-details-by-id">
            <h1 style="color: white;">{{ notification.title }}</h1>
            <div style="margin-bottom: 15px;" class="notification-meta-by-id">
                {{ notification.created_at.strftime('%d %B %Y %H:%M') }}
            </div>
            <hr style="margin-bottom: 10px;">
            <div class="notification-description-by-id">
                {{ notification.description | safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <style>
        .notification-details-by-id {
            background-color: #333;
            color: #fff;
            padding: 20px;
            margin: 0 auto;
            width: 50%;
            box-sizing: border-box; 
            border-radius: 10px;
            max-height: 400px;
            overflow: auto;
            word-wrap: break-word;
        }

        .notification-description-by-id p {
            line-height: 30px;
            font-weight: 100;
            color: white;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        .notification-description-by-id ul,
        .notification-description-by-id ol {
            padding-left: 20px;
            margin-left: 15px;
            color: white;
        }

        .notification-description-by-id ul {
            list-style-type: disc;
        }

        .notification-description-by-id ol {
            list-style-type: decimal;
        }

        .notification-description-by-id li {
            text-align: left;
            line-height: 30px;
            font-weight: 100;
            color: white;
        }

        @media (max-width: 768px) {
            .notification-details-by-id {
                width: 100%; 
            }
        }
        h1, h2, h3, h4, h5, h6 {
            color: white;
        }
        a {
            color: green;
        }
    </style>
{% endblock %}
