{% extends "base.html" %}

{% block title %}Регистрация на сайте{% endblock %}

{% block content %}
    <div class="registration-form">
        <h2>Регистрация</h2>
        <form id="registration-form">
            <div class="form-group">
                <div class="input-wrapper">
                    <span class="required">*</span>
                    <input placeholder="Имя" type="text" id="name" name="name" required>
                </div>
                <div id="name-error" class="error-message"></div>
            </div>
            <div class="form-group">
                <div class="input-wrapper">
                    <span class="required">*</span>
                    <input placeholder="Фамилия" type="text" id="surname" name="surname" required>
                </div>
                <div id="surname-error" class="error-message"></div>
            </div>
            <div class="form-group">
                <div class="input-wrapper">
                    <span class="required">*</span>
                    <input placeholder="Email" type="email" id="email" name="email" required maxlength="40">
                </div>
                <div id="email-error" class="error-message"></div>
            </div>
            <div class="form-group password-group">
                <div class="input-wrapper">
                    <span class="required">*</span>
                    <div class="password-container">
                        <input placeholder="Пароль" type="password" id="password" name="password" required>
                        <img class="eye" src="/app/static/eye.png" alt="Показать пароль" id="toggle-password">
                    </div>
                </div>
                <div id="password-error" class="error-message"></div>
            </div>
            <div class="form-group">
                <div class="input-wrapper">
                    <input placeholder="Telegram" type="text" id="telegram_link" name="telegram_link">
                </div>
                <div id="telegram-link-error" class="error-message"></div>
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <style>
        .registration-form {
            width: 100%;
            max-width: 350px;
            margin: auto;
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .input-wrapper {
            position: relative;
            display: flex;
            align-items: center;
        }

        .input-wrapper input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            padding-left: 30px;
        }

        .input-wrapper .required {
            position: absolute;
            left: 10px;
            color: red;
            font-size: 1.2em;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 5px;
            opacity: 1;
            transition: opacity 0.5s ease-out;
        }

        .error-message.fade-out {
            opacity: 0;
        }

        .password-container {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .eye {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        @media (max-width: 768px) {
            .registration-form {
                width: 90%;
                padding: 15px;
            }
        }
    </style>
    <script src="/app/static/js/register.js"></script>
{% endblock %}
