{% extends "base.html" %}

{% block title %}Выберите время{% endblock %}


{% block content %}
    <h1>Выберите время</h1>
    <div class="time-container">
        {% if times %}
            {% for time in times %}
                <button class="time-button green-button" onclick="showConfirmation('{{ time }}')">{{ time }}</button>
            {% endfor %}
        {% endif %}
        {% if selected_times %}
            {% for time in selected_times %}
                <button class="time-button red-button" title="Выбранное время недоступно" onclick="showUnavailableNotification('{{ time }}')">{{ time }}</button>
            {% endfor %}
        {% endif %}
    </div>

    <input type="hidden" id="bookingId" value="{{ booking_id }}">


    <div id="customConfirmationModal" class="custom-modal" style="display: none;">
        <div class="custom-modal-content">
            <p>Вы уверены, что хотите выбрать время <span id="confirmTime"></span>?</p>
            <div>
                <button class="custom-modal-confirm green-button" onclick="confirmSelection()">Да</button>
                <button class="custom-modal-cancel red-button" onclick="hideConfirmation()">Отмена</button>
            </div>
        </div>
    </div>

{% endblock %}




{% block scripts %}
    {{ super() }}
    <style>
        .time-button {
            margin: 5px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .time-button:hover {
            background-color: #45a049;
        }

      
        .custom-modal {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .custom-modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            max-width: 80%;
            text-align: center;
            border-radius: 5px;
            position: relative;
        }

        .custom-modal-confirm {
            margin: 5px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 45%;
        }

        .custom-modal-confirm.green-button {
            background-color: #4CAF50;
            color: white;
        }

        .custom-modal-confirm.green-button:hover {
            background-color: #45a049;
        }

        .custom-modal-cancel {
            margin: 5px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 45%;
        }

        .custom-modal-cancel.red-button {
            background-color: #f44336;
            color: white;
        }

        .custom-modal-cancel.red-button:hover {
            background-color: #d32f2f;
        }
        .custom-modal-confirm.green-button,
        .time-button.green-button {
            background-color: #4CAF50;
            color: white;
        }

        .custom-modal-confirm.green-button:hover,
        .time-button.green-button:hover {
            background-color: #45a049;
        }


        .time-button.red-button {
            background-color: #f44336;
            opacity: 60%;
            color: white;
        }

        .custom-modal-cancel.red-button:hover,
        .time-button.red-button:hover {
            background-color: #d32f2f;
        }

        @media (max-width: 600px) {
            .custom-modal-content {
                max-width: 75%; 
                padding: 20px; 
            }

            .swal2-popup {
                font-size: 14px;
            }
        }


    </style>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function showConfirmation(time) {
            document.getElementById('confirmTime').innerText = time;
            document.getElementById('customConfirmationModal').style.display = 'flex';
        }

        function hideConfirmation() {
            document.getElementById('customConfirmationModal').style.display = 'none';
        }

        async function confirmSelection() {
            const bookingId = document.getElementById('bookingId').value;
            const selectedTime = document.getElementById('confirmTime').innerText;

            try {
                const response = await fetch(`/booking/edit_booking/${bookingId}?time=${selectedTime}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (!response.ok) {
                    throw new Error('Failed to update booking');
                }

                Swal.fire({
                    icon: 'success',
                    title: 'Успех!',
                    text: 'Вы успешно сделали запись.',
                    timer: 2000, 
                    showConfirmButton: false,
                    onClose: () => {
                        reloadPage();
                    }
                });

                hideConfirmation();

            } catch (error) {
                console.error('Error updating booking:', error.message);

                Swal.fire({
                    icon: 'error',
                    title: 'Ошибка!',
                    text: 'Не удалось обновить запись. Пожалуйста, попробуйте еще раз.',
                });
            }
        }

        function reloadPage() {
            window.location.reload();
        }

        function showUnavailableNotification(time) {
            Swal.fire({
                icon: 'info',
                title: 'Внимание!',
                text: `Выбранное время (${time}) недоступно для записи.`,
            });
        }
    </script>

{% endblock %}
