{% extends "base.html" %}

{% block title %}Выберите время{% endblock %}

{% block content %}
    {% if user_link.is_active != false %}
        <h1>Выберите время на дату: <span style="color: rgb(34, 158, 34);">{{ booking.date_for_booking }}</span></h1>
        <div class="time-container">
            {% if times %}
                {% for time in times %}
                    <button class="time-button green-button" onclick="showConfirmation('{{ time }}')">{{ time }}</button>
                {% endfor %}
            {% endif %}

            {% if selected_times %}
                {% for time in selected_times %}
                    <button class="time-button red-button" title="Выбранное время недоступно" onclick="showUnavailableNotification('{{ time[0] }}')">{{ time[0] }}</button>
                {% endfor %}
            {% endif %}
        </div>

        <input type="hidden" id="bookingId" value="{{ booking_id }}">

        <div id="customConfirmationModal" class="custom-modal" style="display: none;">
            <div class="custom-modal-content">
                <p><b>Вы уверены, что хотите выбрать время <span id="confirmTime"></span>?</b></p>
                <p><b>Введите свое имя, а также телефон и email для связи. Telegram по желанию.</b></p>
                <div class="input-group">
                    <div class="input-wrapper">
                        <span class="required">*</span>
                        <input type="text" id="userName" placeholder="Имя" required>
                        
                    </div>
                    <p id="nameError" class="error-message">Имя должно быть от 2 до 20 символов и не содержать пробелов.</p>
                    
                    <div class="input-wrapper">
                        <span class="required">*</span>
                        <input type="text" id="userPhone" placeholder="Телефон" required>
                        
                    </div>
                    <p id="phoneError" style="color: red; display: none;">Телефон должен содержать только цифры</p>
                    
                    <div class="input-wrapper">
                        <span class="required">*</span>
                        <input type="email" id="userEmail" placeholder="Email" required name="email">
                    </div>
                    
                    <div class="input-wrapper">
                        <input type="text" id="userTelegram" placeholder="Telegram">
                    </div>
                </div>
                <div class="button-group">
                    <button class="custom-modal-confirm green-button" onclick="confirmSelection()">Да</button>
                    <button class="custom-modal-cancel red-button" onclick="hideConfirmation()">Отмена</button>
                </div>
            </div>
        </div>
    {% else %}
        <h1 style="color: red;">Пользователь, к которому вы хотите записаться, был заблокирован</h1>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <style>
        .time-button {
            margin: 5px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .time-button:hover {
            background-color: #45a049;
        }

        .custom-modal {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .custom-modal-content {
            background-color: #fff;
            padding: 30px;
            border: 1px solid #888;
            max-width: 400px;
            width: 100%;
            text-align: center;
            border-radius: 10px;
            position: relative;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }

        .input-group {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .input-wrapper {
            position: relative;
            display: flex;
            align-items: center;
        }

        .input-wrapper input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
            padding-left: 30px;
        }

        .input-wrapper .required {
            position: absolute;
            left: 10px;
            color: red;
            font-size: 1.2em;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 5px;
            display: none;
        }

        .button-group {
            margin-top: 20px;
            display: flex;
            gap: 10px;
        }

        .custom-modal-confirm, .custom-modal-cancel {
            flex: 1;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .custom-modal-confirm.green-button {
            background-color: #4CAF50;
            color: white;
        }

        .custom-modal-confirm.green-button:hover {
            background-color: #45a049;
        }

        .custom-modal-cancel.red-button {
            background-color: #f44336;
            color: white;
        }

        .custom-modal-cancel.red-button:hover {
            background-color: #d32f2f;
        }

        .time-button.green-button {
            background-color: #4CAF50;
            color: white;
        }

        .time-button.green-button:hover {
            background-color: #45a049;
        }

        .time-button.red-button {
            background-color: #f44336;
            opacity: 60%;
            color: white;
        }

        .time-button.red-button:hover {
            background-color: #d32f2f;
        }

        @media (max-width: 600px) {
            .custom-modal-content {
                max-width: 75%;
                padding: 20px;
            }

            .swal2-popup {
                font-size: 14px;
            }
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="/app/static/js/select_time.js"></script>
{% endblock %}
