{% extends "base.html" %}


{% block title %}Настройки{% endblock %}

{% block content %}
<div class="center-wrapper">
    <div class="custom-block">
        <h1 style="color: white;">Настройки</h1>
        <hr class="full-width-line">
        
        <div class="toggle-container">
            <span>Возможность записи</span>
            <label class="switch">
                <input type="checkbox" {% if user.enabled %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
        </div>

        <form id="time-settings-form">
            <div class="time-container">
                <label for="start-time">Начало рабочего дня:</label>
                <input type="time" id="start-time" name="start_time" value="{{ user.start_time }}">
            </div>
            
            <div class="time-container">
                <label for="end-time">Конец рабочего дня:</label>
                <input type="time" id="end-time" name="end_time" value="{{ user.end_time }}">
            </div>
            
            <div class="time-container">
                <label for="interval">Промежуток (в минутах):<br>минимум 10 минут</label>
                <input type="number" id="interval" name="interval" value="{{ user.interval }}" min="10" style="width: 68px;">
            </div>
        </form>
        

        <a id="edit-link" style="cursor: pointer; width: 40%; margin-top: 30px;" class="edit-profile-button">Изменить</a>
    </div>
</div>
{% endblock %}



{% block scripts %}
    {{ super() }}
    <style>
        .center-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start; /* Выравнивание по верхнему краю */
            min-height: 100vh; /* Минимальная высота контейнера - высота экрана */
            padding-top: 20px; /* Отступ сверху для отступа от верхнего края экрана */
            background-color: #fdf5e6; /* Цвет фона страницы */
        }

        .custom-block {
            padding: 20px;
            background-color: #333;
            border-radius: 8px;
            width: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для визуального эффекта */
            color: white; /* Цвет текста по умолчанию */
        }

        .full-width-line {
            width: 100%;
            border: 1px solid white;
            margin: 20px 0;
        }

        .toggle-container, .time-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            padding-top: 20px;
        }

        .toggle-container span {
            font-size: 16px;
            color: white; /* Цвет текста */
        }

        .time-container label {
            font-size: 16px;
            color: white; /* Цвет текста */
            margin-right: 10px;
        }

        .time-container input {
            background-color: #444;
            color: white;
            border: 1px solid #555;
            border-radius: 4px;
            padding: 5px 10px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked + .slider {
            background-color: #4CAF50;
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }
        @media screen and (max-width: 768px) {
            .custom-block {
                width: 80%;
            }

            #edit-link {
                width: 60%;
            }
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const toggleSwitch = document.querySelector('.switch input[type="checkbox"]');
            const editLink = document.querySelector('.edit-profile-button');
            const timeSettingsForm = document.getElementById('time-settings-form');
            
            toggleSwitch.addEventListener('change', function() {
                const isChecked = this.checked;
                const userId = '{{ user.id }}'; // Замените на реальный способ получения ID пользователя
                
                // Выполнение PATCH-запроса для изменения состояния enabled
                fetch(`/user/edit_enabled/${userId}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        enabled: isChecked
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('PATCH request successful', data);
                    // Дополнительные действия при успешной обработке запроса
                    editLink.disabled = !isChecked; // Деактивируем ссылку, если isChecked === false
                })
                .catch(error => {
                    console.error('Error during PATCH request:', error);
                    // Обработка ошибок
                });
            });

            editLink.addEventListener('click', function(event) {
                event.preventDefault(); // Предотвращаем переход по ссылке

                const userId = '{{ user.id }}'; // Замените на реальный способ получения ID пользователя
                
                const formData = new FormData(timeSettingsForm);
                const data = {
                    start_time: formData.get('start_time'),
                    end_time: formData.get('end_time'),
                    interval: formData.get('interval')
                };

                // Выполнение PATCH-запроса для изменения времени и интервала
                fetch(`/user/edit_time/${userId}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('PATCH request successful', data);
                    // Дополнительные действия при успешной обработке запроса
                    displayCustomNotification('Сохранено');
                })
                .catch(error => {
                    console.error('Error during PATCH request:', error);
                    // Обработка ошибок
                });
            });

            function displayCustomNotification(message) {
                Swal.fire({
                    icon: 'success',
                    title: 'Успех!',
                    text: message,
                    timer: 2500, // Закрыть через 3 секунды
                    timerProgressBar: true,
                    position: 'top',
                    toast: true,
                    customClass: {
                        popup: 'custom-swal', // Основной класс уведомления
                        title: 'custom-swal-title', // Класс для заголовка
                        content: 'custom-swal-content' // Класс для содержимого
                    },
                    width: '70%', // Ширина уведомления
                    padding: '1rem', // Отступы внутри уведомления
                    background: '#fff', // Фон уведомления
                    textColor: '#333', // Цвет текста
                    showConfirmButton: false, // Не показывать кнопку подтверждения
                });
            }
        });

    </script>
{% endblock %}
