{% extends "base.html" %}


{% block title %}Настройки{% endblock %}

{% block content %}
<div class="center-wrapper">
    <div class="custom-block">
        <h1 style="color: white;">Настройки</h1>
        <hr class="full-width-line">
        
        <div class="toggle-container">
            <span>Возможность записи</span>
            <label class="switch">
                <input type="checkbox" {% if user.enabled %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
        </div>

        <form id="time-settings-form">
            <div class="time-container">
                <label for="start-time">Начало рабочего дня:</label>
                <input type="time" id="start-time" name="start_time" value="{{ user.start_time }}">
            </div>
            
            <div class="time-container">
                <label for="end-time">Конец рабочего дня:</label>
                <input type="time" id="end-time" name="end_time" value="{{ user.end_time }}">
            </div>
            
            <div class="time-container">
                <label for="interval">Промежуток (в минутах):<br>минимум 10 минут</label>
                <input type="number" id="interval" name="interval" value="{{ user.interval }}" min="10" style="width: 68px;">
            </div>
        </form>
        

        <a id="edit-link" style="cursor: pointer; width: 40%; margin-top: 30px;" class="edit-profile-button" data-user-id="{{ user.id }}">Изменить</a>
    </div>
</div>
{% endblock %}



{% block scripts %}
    {{ super() }}
    <style>
        .center-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            min-height: 100vh;
            padding-top: 20px;
            background-color: #fdf5e6;
        }

        .custom-block {
            padding: 20px;
            background-color: #333;
            border-radius: 8px;
            width: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: white;
        }

        .full-width-line {
            width: 100%;
            border: 1px solid white;
            margin: 20px 0;
        }

        .toggle-container, .time-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            padding-top: 20px;
        }

        .toggle-container span {
            font-size: 16px;
            color: white;
        }

        .time-container label {
            font-size: 16px;
            color: white;
            margin-right: 10px;
        }

        .time-container input {
            background-color: #444;
            color: white;
            border: 1px solid #555;
            border-radius: 4px;
            padding: 5px 10px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked + .slider {
            background-color: #4CAF50;
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }
        @media screen and (max-width: 768px) {
            .custom-block {
                width: 90%;
            }

            #edit-link {
                width: 60%;
            }
        }
    </style>
    <script src="/app/static/js/settings.js"></script>
{% endblock %}
